  .current-bpm {
      font-size: 72px;
      color: rgb(103, 105, 255);
  }

  .song-name-input {
    height: 30px;
    width: 260px;
    border-radius: 100px;
    border: 2px solid black;
    font-size: 1em;
    padding: 10px;
  }

  .save-clear-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
  }
  button:hover {
      cursor: pointer;
  }
  .save-btn {
      background-color: rgb(103, 105, 255);
      border-radius: 100px;
      color: white;
      font-size: 1.3em;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      padding: 10px;
  }

  .clr-btn {
    background-color: red;
    border-radius: 100px;
    color: white;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
}

  .metronome {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

  .on-off {
      width: 85px;
      padding: 25px;
  }

  button {
    border: none;
    background: none;
    display: block;
    width: 10%;
    align-self: center;
  }

  input[type=range] {
      width: 30%;
  }

  .tempo-change {
      width: 25px;
  }

  .slider {
      display: flex;
      justify-content: center;
  }

  @media only screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0px;
    }
    .metronome {
        display: flex;
        align-content: center;
    }
    input[type=range] {
        width: 80%;
        margin: 0;
    }
    .on-off {
        width: 100px;
    }
    button {
        width: 100%;
    }
  }